.art-gallery {
  column-count: 3;
  margin-top: 1rem;
  column-gap: 15px;
}
.gallery-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.art-gallery img {
  display: block;
  width: 100%;
}