.art-gallery {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 1rem;
  text-align: center;
  line-height: 0.5rem;
}
.gallery-item .folder {
  width: 6rem;
  height: 5rem;
}
.gallery-item:hover {
  cursor: pointer;
}
.gallery-item img {
  height: 100%;
  transition: all ease-in-out 100ms;
}
.gallery-item img:hover {
  transform: translateY(-3px);
}
.gallery-item p {
  margin: 0;
}