body {
  height: 98vh;
  padding: 0;
}
body {
  background-color: rgb(218, 210, 255);
  background-size: 35px 35px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 255, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 255, 0.3) 1px, transparent 1px);
}
h1 {
  margin: 0;
}
.desktop-icons {
  position: absolute;
  margin-left: 2rem;
}
.icon {
  text-align: center;
  margin-top: 1.5rem;
}
.icon img {
  width: 4.5rem;
  height: auto;
  transition: all ease-in-out 100ms;
  cursor: pointer;
}
.icon img:hover {
  transform: translateY(-5px);
}
#side-info-view {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100vh;
  width: 400px;
  border-left: 3px solid black;
  background-color: rgb(219, 221, 236);
  font-family: 'Klee One', cursive;
}
.slide-right {
  animation-name: slide-right;
  animation-duration: 5s;
}
.slide-left {
  animation-name: slide-left;
  animation-duration: 5s;
}
@keyframes slide-right {
  0% {right:0px;}
  50% {right:-400px;}
}
@keyframes slide-left {
  0% {right:-400px;}
  50% {right:0px;}
}
/*Bottom Bar*************************************************************/
.desktop-bottom-bar {
  position: fixed;
  bottom: 20px;
  left: 30%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  border: 3px solid #030921;
  border-radius: 20px;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.5);
  background-color: rgb(233, 210, 255);
}
.desktop-bottom-bar img {
  width: 40px;
  height: 40px;
}
.link-wrapper {
  display: flex;
  flex-direction: row;
}
.link-wrapper a {
  padding-left: 15px;
  padding-right: 15px;
}
.link-wrapper img {
  transition: all ease-in-out 100ms;
}
.link-wrapper img:hover {
  transform: translateY(-5px);
}