.projects-wrapper {
    width: 1300px;
    max-width: 80%;
    margin: auto;
}
.portfolio-header {
    font-size: 3rem;
}
.portfolio-about {
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.projects-wrapper ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}
.portfolio-links li {
    float: left;
    margin-right: 1rem;
}
.portfolio-links a {
    display: block;
}