.projects-wrapper {
  margin: auto;
  padding: 2rem;
  color: blue;
}
.portfolio-header {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}
.projects-wrapper ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}
.portfolio-links li {
  float: left;
  margin-right: 1rem;
}
.portfolio-links a {
  display: block;
  text-decoration: none;
  color: blue;
  border-radius: 2px;
  border: 3px solid blue;
  box-shadow: 5px 5px 1px blue;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.5rem;
  transition: transform 100ms, box-shadow 100ms;
}
.portfolio-links a:hover {
  cursor: pointer;
  transform: translateX(5px) translateY(5px);
  box-shadow: 1px 1px 1px blue;
}
.portfolio-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}