.portfolioItem-wrapper {
  width: 21.5rem;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid blue;
  box-shadow: 8px 8px 1px blue;;
}
.portfolioItem-wrapper:hover {
  cursor: pointer;
}
.portfolioItem-header {
  margin: 1rem 0 1rem 0;
  font-size: 1.6rem;
  text-decoration: underline;
}
.portfolioItem-img-wrapper {
  width: 100%;
  height: 14rem;
  margin: auto;
}
.portfolioItem-img-wrapper img {
  width: 100%;
  height: 100%
}
.portfolioItem-wrapper p {
  margin: 0.5rem 0 0.5rem 0;
}
.portfolioItem-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.portfolioItem-wrapper ul li {
  float: left;
  padding: 0 0.5rem 0 0.5rem;
  border-right: 1px solid black;
}