.panel {
  position: absolute;
  border-radius: 3px;
  border: 2px solid black;
  top: 4rem;
  left: 12rem;
  box-shadow: 8px 8px 1px black;
  background-color: white;
}
.panel .content {
  position: relative;
  height: calc(100% - 3.3rem);
  overflow-y: auto;
}
.panel-bottom-bar {
  height: 1.5rem;
  width: 100%;
  border: 2px solid black;
  border-left: transparent;
  background-color: white;
}