.panel {
  position: absolute;
  border-radius: 3px;
  border: 2px solid blue;
  top: 4rem;
  left: 12rem;
  box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
}
.panel .top_bar {
  height: 1rem;
  width: 100%;
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: space-between;
  cursor: move;
  border-bottom: 2px solid blue;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
.top_bar .descriptor {
  margin-left: 0.5rem;
}
.top_bar .buttons {
  display: flex;
}
.top_bar .window-button {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-left: 2px solid blue;
}
.top_bar .window-button img {
  height: 0.5rem;
  padding: 4px;
}
.panel .content {
  position: relative;
  height: calc(100% - 2.25rem);
  overflow-y: auto;
}
.panel-bottom-bar {
  height: 1rem;
  width: 100%;
  border: 2px solid blue;
  border-left: transparent;
  background-color: rgb(255, 255, 255);
}